* {
    font-family: calibri;
}

header {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px 10px 30px;
    margin: 1%;
}

.flex {
    display: flex;
    align-items: stretch;
}

.reportTitle {
    font-size: x-large;
    font-weight: bold;
    flex-grow: 8;
}

table {
    border-collapse: collapse;
    margin: 1%;
}

th,
td {
    border: 1px solid blue;
    text-align: left;
}

th {
    padding: 8px;
}

td {
    padding: 4px;
    text-align: right;
}

.tal {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #e8effc;
}