name: Publish

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      
      - name: Dotnet CI
        uses: ./.github/actions/dotnet-ci
        with:
          dotnet-version: 10.0.x

      - name: Publish
        run: dotnet publish PeripheralAudit/PeripheralAudit.csproj `
              -c Release `
              -o publish `
              -r win-x64 `
              --self-contained false

      - name: Velopack Pack
        run: |
          [xml]$projectFile = Get-Content "PeripheralAudit\PeripheralAudit.csproj"

          $Version = $projectFile.Project.PropertyGroup.Version | Where-Object { $_ -ne $null } | Select-Object -First 1

          if ([string]::IsNullOrEmpty($Version)) {
              Write-Host "ERROR: Could not read version from PeripheralAudit.csproj" -ForegroundColor Red
              exit 1
          }

          dotnet tool install -g vpk

          vpk download github --repoUrl "${{ github.server_url }}/${{ github.repository }}" 

          vpk pack -u PeripheralAudit `
              -v $Version `
              -p .\publish `
              -e PeripheralAudit.exe `
              -i PeripheralAudit\Resources\Phone.ico `
              --packAuthors "Devon County Council" `
              --noPortable 
            
          vpk upload github --repoUrl "${{ github.server_url }}/${{ github.repository }}" `
              --publish --merge --tag "$Version" --releaseName "Release $Version"
